body {
	margin: 0%;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}


body::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #808080;
}

.imgAnimation {
	transition: all 1s ease-in-out;
}

.imgAnimation:hover {
	transform: scale(1.2);
}


.typeWritertheme {
	border-right: 3px solid white;
	width: 0ch;
	white-space: nowrap;
	overflow: hidden;
	animation: typewriter 10s infinite alternate;
}

@keyframes typewriter {
	0% {
		width: 0ch;
	}

	50% {
		width: 28ch;
	}
}